 <!DOCTYPE html>
<html>
<body>

<h1>Syetem IP is {{ ip }} with hostname {{ hostname }}</h1>
<h2>OS {{ dist }} Version {{ dist_version }}</h2>
<h3>with RAM {{ ram }} MB and processor {{ cpu }}</h3>

</body>
</html> 